* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
}

.nav-logo img {
  width: 150px;
  display: block;
  /* height: 60px; */
  /* margin: 10px auto; */
}

.nav-bar {
  padding: 0.8rem;
  padding-right: 25px;
  margin-bottom: 2rem;
  background-image: linear-gradient(#1439d9, rgb(62, 162, 247));
  border-bottom: 1px solid rgb(207, 203, 203);
}

nav ul {
  display: flex;
  list-style: none;
  /* justify-content: flex-end; */
  gap: 1rem;
  align-items: center;
  padding-right: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: #1439d9;
}

nav ul li:first-child {
  margin-right: auto;
}

#intro {
  text-align: center;
}

article {
  margin: 1.5rem 1rem;
}

article h2 {
  margin-bottom: 20px;
  text-align: center;
}

#projects .card {
  display: inline-block;
  vertical-align: top;
  min-height: 390px;
  width: 30%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.card img {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.card-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

#skills div {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* margin: 10px auto; */
  padding-left: 100px;
  padding-right: 100px;
}

#skills ul {
  list-style: none;
  /* flex-direction: column; */
}

#pre-footer {
  /* background-image: linear-gradient(-90deg, #1439d9, rgb(62, 162, 247)); */
  background-color: rgb(62, 162, 247);
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  color: white;

  margin: 0;
}

#pre-footer h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
#pre-footer p {
  margin-bottom: 10px;
  font-size: 14px;
}

#pre-footer p:hover {
  cursor: pointer;
  color: #1439d9;
  text-decoration: underline;
}

footer {
  padding: 0.7rem;
  text-align: end;
}
footer span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
